<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoginCtrl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9842CF51CA3EAE300CEFFAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9842D091CA3EAE400CEFFAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9842D141CA3EAE400CEFFAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
